<!DOCTYPE html>
<html>

<%- include('includes/head') %>

<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<body class="hold-transition skin-blue layout-top-nav">
<div class="wrapper">

  <%- include('includes/header') %>

  <!-- Full Width Column -->
  <div class="content-wrapper">
    <div class="container">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          <%= translate("common:CONFIGURATION") %>
        </h1>
        <ol class="breadcrumb">
          <li><a href="/selector"><i class="fa fa-home"></i><%= translate("dashboard:SELECTOR") %></a></li>
          <li><a href="/manage/<%= guild.id %>"><i class="fa fa-edit"></i><%= guild.name %></a></li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="row">
            <div class="col-md-6">
                <!-- Widget: user widget style 2 -->
                <div class="card card-widget widget-user-2">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header bg-yellow">
                      <div class="widget-user-image">
                        <img class="img-circle elevation-2" src="<%= guild.iconURL %>" alt="User Avatar">
                      </div>
                      <!-- /.widget-user-image -->
                      <h3 class="widget-user-username"><%= guild.name %></h3>
                      <h5 class="widget-user-desc"><%= guild.memberCount + " " + translate("common:MEMBERS").toLowerCase() %></h5>
                    </div>
                </div>
                <!-- /.widget-user -->
                <!-- BASIC CONFIGURATION -->
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title"><%= translate("dashboard:BASIC_TITLE") %></h3>
                    </div>
                    <form role="form" action="/manage/<%= guild.id %>/basic" method="POST">
                        <!-- /.box-header -->
                        <div class="box-body">
                            <!-- text input -->
                            <div class="form-group">
                                <label><%= translate("common:PREFIX") %></label>
                                <input type="text" name="prefix" class="form-control" placeholder="<%= guild.prefix %>">
                            </div>
                            <!-- select -->
                            <div class="form-group">
                                <label><%= translate("common:LANGUAGE") %></label>
                                <select class="form-control" name="language">
                                    <% if(guild.language === "fr-FR"){ %>
                                        <option selected="selected">French</option>
                                        <option>Vietnamese</options>
                                        <option>Hungarian</options>
                                        <option>Turkish</options>
                                        <option>English</options>
                                    <% } else if(guild.language === "vi-VN") { %>
                                        <option>French</option>
                                        <option selected="selected">Vietnamese</options>
                                        <option>Hungarian</options>
                                        <option>English</options>
                                        <option>Turkish</options>
                                    <% } else if(guild.language === "tr-TR") { %>
                                        <option>French</option>
                                        <option>Vietnamese</options>
                                        <option>Hungarian</options>
                                        <option selected="selected">Turkish</options>
                                        <option>English</options>
                                    <% } else if(guild.language === "hu-HU") { %>
                                        <option>French</option>
                                        <option>Vietnamese</options>
                                        <option>Hungarian</options>
                                        <option selected="selected">Turkish</options>
                                        <option>English</options>
                                    <% } else { %>
                                        <option>French</option>
                                        <option>Vietnamese</options>
                                        <option>Hungarian</options>
                                        <option>Turkish</options>
                                        <option selected="selected">English</options>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary"><%= translate("common:UPDATE") %></button>
                        </div>
                    </form>
                </div>
                <!-- /.box -->
                <!-- JOIN DM CONFIGURATION -->
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title"><%= translate("dashboard:JOIN_DM_TITLE") %></h3>
                        <a target="_blank" href="https://docs.manage-invite.xyz/configuration/variables">
                            <button type="button" class="btn btn-info btn-sm pull-right swalDefaultInfo" data-toggle="tooltip" title data-original-title="Infos"><i class="fa fa-info"></i></button>
                        </a>
                    </div>
                    <!-- /.box-header -->
                    <form role="form" action="/manage/<%= guild.id %>/joinDM" method="POST">
                        <div class="box-body">
                            <!-- text input -->
                            <label><%= translate("common:MESSAGES") %></label>
                            <!-- Custom Tabs -->
                            <div class="nav-tabs-custom" style="padding-top: 10px;">
                                <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_joindm_main" data-toggle="tab"><%= translate("common:MAIN") %></a></li>
                                <li><a href="#tab_joindm_vanity" data-toggle="tab"><%= translate("common:VANITY_URL") %></a></li>
                                <li><a href="#tab_joindm_unknown" data-toggle="tab"><%= translate("common:UNKNOWN") %></a></li>
                                </ul>
                                <div class="tab-content">
                                <div class="tab-pane active" id="tab_joindm_main">
                                    <div class="form-group">
                                        <textarea rows="3" name="mainMessage" class="form-control" required><%= guild.joinDM.mainMessage || translate("misc:JOIN_DM_MAIN_DEFAULT") %></textarea>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_joindm_vanity">
                                    <div class="form-group">
                                        <textarea rows="3" name="vanityMessage" class="form-control" required><%= guild.joinDM.vanityMessage || translate("misc:JOIN_DM_VANITY_DEFAULT") %></textarea>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_joindm_unknown">
                                    <div class="form-group">
                                        <textarea rows="3" name="unknownMessage" class="form-control" required><%= guild.joinDM.unknownMessage || translate("misc:JOIN_DM_UNKNOWN_DEFAULT") %></textarea>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                                </div>
                                <!-- /.tab-content -->
                            </div>
                            <!-- nav-tabs-custom -->
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <% if(guild.joinDM.enabled){ %>
                                <button type="submit" name="disable" class="btn btn-danger"><%= translate("dashboard:BUTTON_DISABLE") %></button>
                                <button type="submit" name="update" class="btn btn-primary pull-right"><%= translate("dashboard:BUTTON_UPDATE") %></button>
                            <% } else { %>
                                <button type="submit" name="enable" class="btn btn-success"><%= translate("dashboard:BUTTON_ENABLE") %></button>
                            <% } %>
                        </div>
                    </form>
                </div>
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title"><%= translate("dashboard:ROLE_REWARDS") %></h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <% if(guild.ranks.length < 1){ %>
                            <p><%= translate("dashboard:ROLE_REWARDS_EMPTY", { prefix: guild.prefix }) %></p>
                        <% } else { %>
                            <table class="table table-bordered">
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th><%= translate("common:ROLE") %></th>
                                        <th style="width: 40px"><%= translate("common:INVITES") %></th>
                                        </tr>
                                    <tr>
                                <% guild.ranks.filter((rank) => guild.roles.find((r) => r.id === rank.roleID)).sort((a,b) => b.inviteCount - a.inviteCount).forEach((rank, index) => { %>
                                    <tr>
                                        <td><%= ++index %>.</td>
                                        <td><font color="<%= guild.roles.find((r) => r.id === rank.roleID).hexColor %>"><strong>@<%= guild.roles.find((r) => r.id === rank.roleID).name %></strong></font></td>
                                        <td><span class="badge bg-red"><%= rank.inviteCount %></span></td>
                                    </tr>
                                <% }); %>
                            </table>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!-- JOIN CONFIGURATION -->
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title"><%= translate("dashboard:JOIN_TITLE") %></h3>
                        <a target="_blank" href="https://docs.manage-invite.xyz/configuration/variables">
                            <button type="button" class="btn btn-info btn-sm pull-right swalDefaultInfo" data-toggle="tooltip" title data-original-title="Infos"><i class="fa fa-info"></i></button>
                        </a>
                    </div>
                    <form role="form" action="/manage/<%= guild.id %>/join" method="POST">
                        <!-- /.box-header -->
                        <div class="box-body">
                            <!-- text input -->
                            <label><%= translate("common:MESSAGES") %></label>
                            <!-- Custom Tabs -->
                            <div class="nav-tabs-custom" style="padding-top: 10px;">
                                <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_join_main" data-toggle="tab"><%= translate("common:MAIN") %></a></li>
                                <li><a href="#tab_join_bots" data-toggle="tab"><%= translate("common:BOTS") %></a></li>
                                <li><a href="#tab_join_vanity" data-toggle="tab"><%= translate("common:VANITY_URL") %></a></li>
                                <li><a href="#tab_join_unknown" data-toggle="tab"><%= translate("common:UNKNOWN") %></a></li>
                                </ul>
                                <div class="tab-content">
                                <div class="tab-pane active" id="tab_join_main">
                                    <div class="form-group">
                                        <textarea rows="3" name="mainMessage" class="form-control" required><%= guild.join.mainMessage || translate("misc:JOIN_MAIN_DEFAULT") %></textarea>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_join_bots">
                                    <div class="form-group">
                                        <textarea rows="3" name="oauth2Message" class="form-control" required><%= guild.join.oauth2Message || translate("misc:JOIN_OAUTH2_DEFAULT") %></textarea>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_join_vanity">
                                    <div class="form-group">
                                        <textarea rows="3" name="vanityMessage" class="form-control" required><%= guild.join.vanityMessage || translate("misc:JOIN_VANITY_DEFAULT") %></textarea>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_join_unknown">
                                    <div class="form-group">
                                        <textarea rows="3" name="unknownMessage" class="form-control" required><%= guild.join.unknownMessage || translate("misc:JOIN_UNKNOWN_DEFAULT") %></textarea>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                                </div>
                                <!-- /.tab-content -->
                            </div>
                            <!-- nav-tabs-custom -->
                            <!-- select -->
                            <div class="form-group">
                                <label><%= translate("common:CHANNEL") %></label>
                                <select class="form-control" name="channel">
                                    <% if(guild.join.enabled && (guild.channels.find((ch) => ch.id === guild.join.channel))){ %>
                                        <option selected="selected">#<%= (guild.channels.find((ch) => ch.id === guild.join.channel)).name %></option>
                                        <% guild.channels.filter((ch) => ch.id !== guild.join.channel && ch.type === "text").forEach((ch) => { %>
                                            <option>#<%= ch.name %></option>
                                        <% }); } else { %>
                                        <option selected="selected">#<%= guild.channels.filter((ch) => ch.type === "text")[0].name %></option>
                                        <% guild.channels.filter((ch) => ch.id !== guild.channels[0].id && ch.type === "text").forEach((ch) => { %>
                                            <option>#<%= ch.name %></option>
                                        <% }); %>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <% if(guild.join.enabled){ %>
                                <button type="submit" name="disable" class="btn btn-danger"><%= translate("dashboard:BUTTON_DISABLE") %></button>
                                <button type="submit" name="update" class="btn btn-primary pull-right"><%= translate("dashboard:BUTTON_UPDATE") %></button>
                            <% } else { %>
                                <button type="submit" name="enable" class="btn btn-success"><%= translate("dashboard:BUTTON_ENABLE") %></button>
                            <% } %>
                        </div>
                    </form>
                </div>
                <!-- LEAVE CONFIGURATION -->
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title"><%= translate("dashboard:LEAVE_TITLE") %></h3>
                        <a target="_blank" href="https://docs.manage-invite.xyz/configuration/variables">
                            <button type="button" class="btn btn-info btn-sm pull-right swalDefaultInfo" data-toggle="tooltip" title data-original-title="Infos"><i class="fa fa-info"></i></button>
                        </a>
                    </div>
                    <form role="form" action="/manage/<%= guild.id %>/leave" method="POST">
                        <!-- /.box-header -->
                        <div class="box-body">
                            <!-- text input -->
                            <label><%= translate("common:MESSAGES") %></label>
                            <!-- Custom Tabs -->
                            <div class="nav-tabs-custom" style="padding-top: 10px;">
                                <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_leave_main" data-toggle="tab"><%= translate("common:MAIN") %></a></li>
                                <li><a href="#tab_leave_bots" data-toggle="tab"><%= translate("common:BOTS") %></a></li>
                                <li><a href="#tab_leave_vanity" data-toggle="tab"><%= translate("common:VANITY_URL") %></a></li>
                                <li><a href="#tab_leave_unknown" data-toggle="tab"><%= translate("common:UNKNOWN") %></a></li>
                                </ul>
                                <div class="tab-content">
                                <div class="tab-pane active" id="tab_leave_main">
                                    <div class="form-group">
                                        <textarea rows="3" name="mainMessage" class="form-control" required><%= guild.leave.mainMessage || translate("misc:LEAVE_MAIN_DEFAULT") %></textarea>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_leave_bots">
                                    <div class="form-group">
                                        <textarea rows="3" name="oauth2Message" class="form-control" required><%= guild.leave.oauth2Message || translate("misc:LEAVE_OAUTH2_DEFAULT") %></textarea>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_leave_vanity">
                                    <div class="form-group">
                                        <textarea rows="3" name="vanityMessage" class="form-control" required><%= guild.leave.vanityMessage || translate("misc:LEAVE_VANITY_DEFAULT") %></textarea>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_leave_unknown">
                                    <div class="form-group">
                                        <textarea rows="3" name="unknownMessage" class="form-control" required><%= guild.leave.unknownMessage || translate("misc:LEAVE_UNKNOWN_DEFAULT") %></textarea>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                                </div>
                                <!-- /.tab-content -->
                            </div>
                            <!-- nav-tabs-custom -->
                            <!-- select -->
                            <div class="form-group">
                                <label><%= translate("common:CHANNEL") %></label>
                                <select class="form-control" name="channel">
                                    <% if(guild.leave.enabled && (guild.channels.find((ch) => ch.id === guild.leave.channel))){ %>
                                        <option selected="selected">#<%= (guild.channels.find((ch) => ch.id === guild.leave.channel)).name %></option>
                                        <% guild.channels.filter((ch) => ch.id !== guild.leave.channel && ch.type === "text").forEach((ch) => { %>
                                            <option>#<%= ch.name %></option>
                                        <% }); } else { %>
                                        <option selected="selected">#<%= guild.channels.filter((ch) => ch.type === "text")[0].name %></option>
                                        <% guild.channels.filter((ch) => ch.id !== guild.channels[0].id && ch.type === "text").forEach((ch) => { %>
                                            <option>#<%= ch.name %></option>
                                        <% }); %>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <% if(guild.leave.enabled){ %>
                                <button type="submit" name="disable" class="btn btn-danger"><%= translate("dashboard:BUTTON_DISABLE") %></button>
                                <button type="submit" name="update" class="btn btn-primary pull-right"><%= translate("dashboard:BUTTON_UPDATE") %></button>
                            <% } else { %>
                                <button type="submit" name="enable" class="btn btn-success"><%= translate("dashboard:BUTTON_ENABLE") %></button>
                            <% } %>
                        </div>
                    </form>
                </div>
            <!-- /.box -->
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title"><%= translate("dashboard:PREMIUM") %></h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <%= translate("dashboard:PREMIUM_EXPIRES", { count: guild.premiumExpiresDays, date: guild.premiumExpiresDisplayed }) %>
                </div>
            </div>
            <!-- /.box -->
        <div>
      </section>
    </div>
    <!-- /.container -->
  </div>
  <!-- /.content-wrapper -->

  <script>
    if(localStorage.getItem("join_selected_message")){
        // remove default active tab
        $("#tab_join_main").removeClass("active");
        $(`li > a[href*=\\#tab_join_main]`).parent().removeClass("active");
        // add new active tab
        $(localStorage.getItem("join_selected_message")).addClass("active");
        $(`li > a[href=\\${localStorage.getItem("join_selected_message")}]`).parent().addClass("active");
    }
    if(localStorage.getItem("leave_selected_message")){
        // remove default active tab
        $("#tab_leave_main").removeClass("active");
        $(`li > a[href*=\\#tab_leave_main]`).parent().removeClass("active");
        $(localStorage.getItem("leave_selected_message")).addClass("active");
        $(`li > a[href=\\${localStorage.getItem("leave_selected_message")}]`).parent().addClass("active");
    }
    if(localStorage.getItem("joindm_selected_message")){
        // remove default active tab
        $("#tab_joindm_main").removeClass("active");
        $(`li > a[href*=\\#tab_joindm_main]`).parent().removeClass("active");
        $(localStorage.getItem("joindm_selected_message")).addClass("active");
        $(`li > a[href=\\${localStorage.getItem("joindm_selected_message")}]`).parent().addClass("active");
    }
  </script>

  <%- include('includes/footer') %>

</div>
<script>
    $("a").click( function(e) {
        e.preventDefault();
        if(e.target.attributes.href.value.startsWith('#tab')){
            const data = e.target.attributes.href.value.split('_');
            if(data[1] === 'join'){
                localStorage.setItem('join_selected_message', e.target.attributes.href.value);
            } else if(data[1] === 'joindm') {
                localStorage.setItem('joindm_selected_message', e.target.attributes.href.value);
            } else if(data[1] === 'leave'){
                localStorage.setItem('leave_selected_message', e.target.attributes.href.value);
            }
        }
        return true;
    });
</script>
<!-- ./wrapper -->
</body>
</html>